<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro|Muli' rel='stylesheet' type='text/css'>
    <title>Welcome to your closet</title>
  </head>
  <body>
    <h1> Closet Contents</h1>
    <table border = 1>
      <tr>
        <td>Name</td><td>Type</td><td>Weight</td><td>Layers</td><td>Options</td>
      </tr>
          {% for cloth in clothes %}
            <tr>
            <!-- <b>Person:</b> {{ cloth.user.nickname }}<br>-->

            <td><font color = #D2E5FA>{{ cloth.name }} </font></td>
            <td><font color = #D2E5FA> {{ cloth.cat }} </font></td>
            <td><font color = #D2E5FA> {{ cloth.weight }} </font></td>
            <td><font color = #D2E5FA> 
            {% for layer in cloth.layers %}
              {{ layer }}&nbsp;
            {% endfor %} </font></td>
            <td><font color = #D2E5FA>
            {% for option in cloth.options %}
              {{ option }}
            {% endfor %}</font></td>
            <br />
          {% endfor %}
          <form action="/empty" method="post">
              <div><input type="submit" value="Remove all from closet"></div> 
          </form>
        </td>
      </tr>
    </table>
    <a href="/addItem">Add and item to Your Closet</ a><br />

    <a href="/">Back</ a><br />
    <a href="{{ url }}">Logout</ a>
  </body>
</html>

