<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro|Muli' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Welcome to the Smart Closet</title>
</head>
<h1>Welcome to your Smart Closet</h1>
<body>
    Prepare for {{ currentTemp }}°F with a wind speed of {{ wind }} mph. 
    <br /><br /><br />

    <b>Of your clean clothes, you should wear:</b>
    <br /><br />


    <table border = 1>
      <tr>
        <td>Name</td><td>Type</td><td>Weight</td><td>Layers</td><td>Options</td><td>Wash Period</td><td>Worn</td><td>Give me a different one</td>
      </tr>
      <tr>
        {% for cloth in clothes %}
            {% if cloth %}
                  <form action="/newRec" method="post">
                  <tr>
                  <td><font color = #D2E5FA>{{ cloth.name }} </font></td>
                  <td><font color = #D2E5FA> {{ cloth.cat }} </font></td>
                  <td><font color = #D2E5FA> {{ cloth.weight }} </font></td>
                  <td><font color = #D2E5FA>
                  {% for layer in cloth.layers %}
                      {{ layer }}&nbsp;
                  {% endfor %} </font></td>
                  <td><font color = #D2E5FA>
                  {% for option in cloth.options %}
                      {{ option }}
                  {% endfor %}</font></td>
                  <br />
                  <td><font color = #D2E5FA> {{ cloth.period }} </font></td>
                  <td>{{ cloth.numWorn }} time(s)</td>
                  <input type="hidden" name="key" value={{ cloth.key }}>
                  <td><input type="submit" value="Give me a diffrent one"></td>
                  </form>
              {% endif %}
          {% endfor %}
      </tr>
    </table><br />
    <form action="/wornOutfitWorn" method="post">
        {% for cloth in clothes %}
            <input type="hidden" name="key" value={{ cloth.key }}>
        {% endfor %}
        <input type="submit" value="I'm going to wear this outfit"> 
    </form><br /><br />
    <a href="/closet">View Your Closet</a><br />
    <a href="/addItem">Add an item to Your Closet</a><br />
    <a href="/weather">Check the Weather</a><br />
    <a href="/prefs">Set your Preferences</a><br />
    <a href="{{ url }}">Logout</a>
</body>
</html>

